<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <faq_section>
                <general>
                    <page_title>FAQ</page_title>
                    <meta_title>FAQ</meta_title>
                    <page_title>FAQ</page_title>
                    <page_title>FAQ</page_title>
                </general>
            </faq_section>
        </default>
    </config>